SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
AWS_BUCKET_RAW=your-spotify-raw-bucket
AWS_BUCKET_TRANSFORMED=your-spotify-transformed-bucket
AWS_REGION=us-east-1
ENVIRONMENT=development